{% extends "@VSApplication/layout.html.twig" %}

{# Import Macros #}
{% from '@SyliusResource/Macros/actions.html.twig' import create %}
{% import "@VSApplication/Macros/form.html.twig" as vs_form %}

{% block title %}{{ parent() }} :: {{ 'vs_users_subscriptions.template.edit_paid_service' | trans( {},'VSUsersSubscriptionsBundle' ) }}{% endblock %}
{% block pageTitle %}<i class="icon_genius"></i> {{ 'vs_users_subscriptions.template.edit_paid_service' | trans( {},'VSUsersSubscriptionsBundle' ) }}{% endblock %}
{% block content %}
    <div class="row">
        <!-- ============================================================== -->
        <!-- basic tabs  -->
        <!-- ============================================================== -->
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
            <div class="card">
            	<h5 class="card-header">{{ 'vs_users_subscriptions.template.details' | trans( {},'VSUsersSubscriptionsBundle' ) }}</h5>
            	<div class="card-body">
            	
            		{% if useFormMethod is defined %}{% set formMethod = useFormMethod %}{% else %}{% set formMethod = 'PUT' %}{% endif %}
                    {{ form_start(form, { 'attr': {'class': 'form-horizontal '}, 'method': formMethod }) }}
                        {% if form_errors(form) is not empty %}
                            <div class="alert alert-block alert-danger fade in">
                                <button type="button" class="close close-sm" data-dismiss="alert">
                                    <i class="icon-remove"></i>
                                </button>
                                <strong>{{ 'vs_users_subscriptions.template.error' | trans( {},'VSUsersSubscriptionsBundle' ) }}!</strong> 
                                {{ form_errors(form) }}
                            </div>
                        {% endif %}
    					
    					<label class="custom-control custom-checkbox">  
                            <input type="checkbox" id="project_form_enabled"
                                class="custom-control-input form-check-input"
                                name="project_form[enabled]"
                                value="{{ item.enabled }}"
                                {% if item.enabled %}checked="checked"{% endif %}
                            />
                            <span class="custom-control-label">{{ 'vs_users_subscriptions.form.active' | trans( {},'VSUsersSubscriptionsBundle' ) }}</span>
                        </label>
                        
    					<div class="form-group">
                            {{ form_label(form.locale, null, {
                                'label_attr': {'class': 'col-form-label'}
                                }) 
                            }}
                            
                            {{ form_widget(form.locale, {'attr': {'class': 'form-control'}}) }}
                        </div>
                        
                        <div class="form-group">
                            {{ form_label(form.category, null, {
                                'label_attr': {'class': 'col-form-label'}
                                }) 
                            }}
                            
                            {{ form_widget(form.category, {'attr': {'class': 'form-control'}}) }}
                        </div>
                        
                        <div class="form-group">
                            {{ form_label(form.title, null, {
                                'label_attr': {'class': 'col-form-label'}
                                }) 
                            }}
                            
                            {{ form_widget(form.title, {'attr': {'class': 'form-control'}}) }}
                        </div>
                        
                        <div class="form-group">
                        	{{ form_label(form.description, null, {
                                'label_attr': {'class': 'col-form-label'}
                                }) 
                            }}
                            {{ form_widget(form.description, {'attr': {'class': 'form-control'}}) }}
                        </div>
              
						<fieldset class="fieldset-project-attributes">
                            <legend class="w-auto">{{ 'vs_users_subscriptions.template.subscription_periods' | trans( {},'VSUsersSubscriptionsBundle' ) }}</legend>
                            <div class="SubscriptionPeriodsContainer"
                                data-prototype="{% apply escape %}{% include '@VSUsersSubscriptions/Pages/PayedServices/add-period-prototype.html.twig' with {'form': form.subscriptionPeriods.vars.prototype} %}{% endapply %}"
                            > 
                                {% for period in form.subscriptionPeriods %}
                                    {% include '@VSUsersSubscriptions/Pages/PayedServices/add-period-prototype.html.twig' with {'form': period} %}
                                {% endfor %}
                            </div>
                        </fieldset>
                        <div class="row">&nbsp;</div>
                        
                        <fieldset class="fieldset-project-attributes">
                            <legend class="w-auto">{{ 'vs_users_subscriptions.template.subscription_periods' | trans( {},'VSUsersSubscriptionsBundle' ) }}</legend>
                            <div class="AttributesContainer"
                                data-prototype="{% apply escape %}{% include '@VSUsersSubscriptions/Pages/PayedServices/add-attribute-prototype.html.twig' with {'form': form.attributes.vars.prototype} %}{% endapply %}"
                            > 
                                {% for attribute in form.attributes %}
                                    {% include '@VSUsersSubscriptions/Pages/PayedServices/add-attribute-prototype.html.twig' with {'form': attribute} %}
                                {% endfor %}
                            </div>
                        </fieldset>
                        <div class="row">&nbsp;</div>
                        
                        <fieldset class="fieldset-project-attributes">
                            <legend class="w-auto">{{ 'vs_users_subscriptions.template.paid_services_grouping' | trans( {},'VSUsersSubscriptionsBundle' ) }}</legend>
                            
                            <div class="form-group">
                                {{ form_label(form.subscriptionCode, null, {
                                    'label_attr': {'class': 'col-form-label'}
                                    }) 
                                }}
                                {{ form_widget(form.subscriptionCode, {'attr': {'class': 'form-control'}}) }}
                                {{ form_help(form.subscriptionCode, {'attr': {'class': 'form-text text-muted'}}) }}
                            </div>
                            
                            <div class="form-group">
                                {{ form_label(form.subscriptionPriority, null, {
                                    'label_attr': {'class': 'col-form-label'}
                                    }) 
                                }}
                                {{ form_widget(form.subscriptionPriority, {'attr': {'class': 'form-control'}}) }}
                                {{ form_help(form.subscriptionPriority, {'attr': {'class': 'form-text text-muted'}}) }}
                            </div>
                        
                         </fieldset>
            			<div class="row">&nbsp;</div>
            			
            			{{ vs_form.buttons( form ) }}
                    {{ form_end(form, {'render_rest': false}) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}


{% block head_styles %}
	{{ parent() }}
	
	{{ encore_entry_link_tags( 'js/payed-services-edit' ) }}
{% endblock %}

{% block body_scripts %}
    {{ parent() }}
   
    {{ encore_entry_script_tags( 'js/payed-services-edit' ) }}
{% endblock %}
