{% extends "@VSApplication/layout.html.twig" %}

{# Import Macros #}
{% from '@SyliusResource/Macros/actions.html.twig' import create %}
{% import "@VSApplication/Macros/form.html.twig" as vs_form %}

{% if( item.id ) %}
    {% set pageTitle = 'vs_users_subscriptions.template.edit_paid_service_subscription_period' | trans( {},'VSUsersSubscriptionsBundle' ) %}
{% else %}
    {% set pageTitle = 'vs_users_subscriptions.template.create_paid_service_subscription_period' | trans( {},'VSUsersSubscriptionsBundle' ) %}
{% endif %}

{% block title %}{{ parent() }} :: {{ pageTitle }}{% endblock %}
{% block pageTitle %}<i class="icon_genius"></i> {{ pageTitle }}{% endblock %}

{% block content %}
    <div class="row">
        <!-- ============================================================== -->
        <!-- basic tabs  -->
        <!-- ============================================================== -->
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
            <div class="card">
            	<h5 class="card-header">{{ 'vs_users_subscriptions.template.details' | trans( {},'VSUsersSubscriptionsBundle' ) }}</h5>
            	<div class="card-body">
            	
            		{% if useFormMethod is defined %}{% set formMethod = useFormMethod %}{% else %}{% set formMethod = 'PUT' %}{% endif %}
                    {{ form_start(form, { 'attr': {'class': 'form-horizontal '}, 'method': formMethod }) }}
                        {% if formErrors is defined %}
                            {{ vs_form.errors( formErrors ) }}     
                        {% endif %}
    					
    					<div class="form-group">
                            {{ form_label(form.locale, null, {
                                'label_attr': {'class': 'col-form-label'}
                                }) 
                            }}
                            
                            {{ form_widget(form.locale, {'attr': {'class': 'form-control'}}) }}
                        </div>
                        
                        <div class="form-group">
                            {{ form_label(form.title, null, {
                                'label_attr': {'class': 'col-form-label'}
                                }) 
                            }}
                            
                            {{ form_widget(form.title, {'attr': {'class': 'form-control'}}) }}
                        </div>
                        
                        <div class="form-group">
                        	{{ form_label(form.description, null, {
                                'label_attr': {'class': 'col-form-label'}
                                }) 
                            }}
                            {{ form_widget(form.description, {'attr': {'class': 'form-control'}}) }}
                        </div>

            			{{ vs_form.buttons( form, metadata is defined ? metadata : null ) }}
                    {{ form_end(form, {'render_rest': false}) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}


{% block head_styles %}
	{{ parent() }}
	
	{{ encore_entry_link_tags( 'js/payed-services-edit' ) }}
{% endblock %}

{% block body_scripts %}
    {{ parent() }}
   
    {{ encore_entry_script_tags( 'js/payed-services-edit' ) }}
{% endblock %}
