{% extends 'knp_menu.html.twig' %}

{% block root %}

    {% set hasChilds = false %}
    {% for parentItem in item.children %}
        {% if parentItem is not empty %}
            {% set hasChilds = true %}
        {% endif %}
    {% endfor %}
    
    {% if hasChilds %}
        <li class="nav-divider">{{ 'vs_application.menu.users_subscriptions' | trans( {},'VSApplicationBundle' ) }}</li>
    {% endif %}
    
    {% for parentItem in item.children %}
        {% if( parentItem.displayed and parentItem.hasChildren ) %}
            <li class="nav-item ">
                <a class="nav-link"
                    data-bs-toggle="collapse" aria-expanded="false" data-bs-target="#submenu-users-subscriptions-{{ loop.index }}" aria-controls="submenu-users-subscriptions-{{ loop.index }}"
                    href="{{ parentItem.uri }}"
                 >
                    {# <i class="{{ parentItem.attributes.iconClass }}"></i> #}
                    <span>{{ parentItem.name }}</span>
                {% if(parentItem.hasChildren) %}
                    <!--  <span class="menu-arrow arrow_carrot-right"></span> -->
                {% endif %}
                </a>
                {% if(parentItem.hasChildren) %}
                    <div id="submenu-users-subscriptions-{{ loop.index }}" class="collapse submenu" style="">
                        <ul class="nav flex-column">
                            {% for childItem in parentItem.children %}
                                {% if( childItem.displayed ) %}
                                    <li class="nav-item">
                                        <a class="nav-link main-menu-button {% if childItem.isCurrent %}main-menu-current-item{% endif %}" href="{{ childItem.uri }}">
                                            {{ childItem.name }}
                                        </a>
                                    </li>
                                {% endif %}
                            {% endfor %}
                        </ul>
                    </div>
                {% endif %}
            </li>
        {% endif %}
    {% endfor %}
    
    {% if hasChilds %}
        <li class="nav-divider"><hr /></li>
    {% endif %}
    
{% endblock %}
