{% extends "@VSApplication/layout.html.twig" %}

{# Import Macros #}
{% import "@VSApplication/Macros/alerts.html.twig" as alerts %}
{% from "@VSApplication/Macros/pagination.html.twig" import pagination %}

{# Override Blocs #}
{% block title %}{{ parent() }} :: List Paid Service Categories{% endblock %}
{% block pageTitle %}<i class="icon_genius"></i> List Paid Service Categories{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-xl-6 col-lg-12 col-md-12 col-sm-12 col-12 mb-5">
            {% if items|length > 0 %}
                <table class="table table-striped table-advance table-hover" id="tblCategories">
                    <thead>
                        <tr>
                            <th>Category</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for item in items %}
                            <tr>
                                <td>{{ item.name }}</td>
                                <td>
                                    <a href="{{ path('vs_users_subscriptions_payed_service_category_update', {'id': item.id}) }}">Edit</a>
                                    <a href="">Delete</a>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% else %}
                {{ alerts.info('sylius.ui.there_are_no_mappers_to_display'|trans) }}
            {% endif %}
        
            {{ pagination(items) }}
        </div>
    </div>
    <div style="display: none;">
        <form id="deleteForm" method="POST">
            <input type="hidden" name="_method" value="DELETE">
            <input type="hidden" id="project_category_delete__token" name="_csrf_token" value="">
        </form>
    </div>
{% endblock %}

{% block head_styles %}	
	{{ parent() }}
	
{% endblock %}

{% block body_scripts %}
    {{ parent() }}
    
{% endblock %}
