{% extends "@VSApplication/layout.html.twig" %}

{# Import Macros #}
{% from '@SyliusResource/Macros/actions.html.twig' import create %}
{% import "@VSApplication/Macros/form.html.twig" as vs_form %}

{% block title %}{{ parent() }} :: Edit Paid Service Category{% endblock %}
{% block pageTitle %}<i class="icon_genius"></i> Edit Paid Service Category{% endblock %}
{% block content %}
    <div class="row">
        <!-- ============================================================== -->
        <!-- basic tabs  -->
        <!-- ============================================================== -->
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
            <div class="card">
            	<h5 class="card-header">Project Category</h5>
            	<div class="card-body">

            		{% if useFormMethod is defined %}{% set formMethod = useFormMethod %}{% else %}{% set formMethod = 'PUT' %}{% endif %}
                    {{ form_start(form, { 'attr': {'class': 'form-horizontal '}, 'method': formMethod }) }}
                        {{ form_widget(form._token) }}
            
                        {% if form_errors(form) is not empty %}
                            <div class="alert alert-block alert-danger fade in">
                                <button type="button" class="close close-sm" data-dismiss="alert">
                                    <i class="icon-remove"></i>
                                </button>
                                <strong>Error!</strong> {{ form_errors(form) }}
                            </div>
                        {% endif %}
    					
    					<div class="form-group">
                            {{ form_label(form.currentLocale, null, {
                                'label_attr': {'class': 'col-form-label'}
                                }) 
                            }}
                            
                            {{ form_widget(form.currentLocale, {'attr': {'class': 'form-control'}}) }}
                        </div>
                        	
                        <div class="form-group">
                            {{ form_label(form.name, null, {
                                'label_attr': {'class': 'col-form-label'}
                                }) 
                            }}
                            
                            {{ form_widget(form.name, {'attr': {'class': 'form-control'}}) }}
                        </div>

            			{{ vs_form.buttons( form ) }}
                    {{ form_end(form, {'render_rest': false}) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
