{% import "@VSApplication/Macros/form.html.twig" as vs_form %}

{% if formErrors is defined %}
    {{ vs_form.errors( formErrors ) }}     
{% endif %}

{% if(item.id) %}{% set method = "PUT" %}{% else %}{% set method = "POST" %}{% endif %}
{{ form_start(form, { 'attr': {'class': 'form-horizontal '}, 'method': method }) }}
    {{ form_widget(form._token) }}
    
    <div class="form-group">
        {{ form_label(form.locale, null, {
            'label_attr': {'class': 'col-form-label'}
            }) 
        }}
        
        {{ form_widget(form.locale, {'attr': {'class': 'form-control'}}) }}
    </div>
    
    <div class="form-group">
        {{ form_label(form.audienceId, null, {
            'label_attr': {'class': 'col-form-label'}
            }) 
        }}
        {{ form_widget(form.audienceId, {'attr': {'class': 'form-control'}}) }}
    </div>
    
    <div class="form-group">
        {{ form_label(form.description, null, {
            'label_attr': {'class': 'col-form-label'}
            }) 
        }}
        {{ form_widget(form.description, {'attr': {'class': 'form-control'}}) }}
    </div>
    
    {{ vs_form.buttons( form ) }}
{{ form_end(form, {'render_rest': false}) }}
